
body{
    margin: 0 0;
    padding: 0 0;
}




.header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
}

.section{
    width: 80%;
    height: 480px;
    margin: 0 auto;
    /*background-color: black;*/
}



/*************************************/

.small_input{
    width: 40px;
    text-align: center;
    /*color:rgb(5,15,80);*/
}

.widget_area{
    width: inherit;
    height: auto;
    background-image: url('../image/transparency.png');
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 24px;
}

.page-header{
    padding-bottom: 0px;
}