
body{
    margin: 0 0;
    padding: 0 0;
}


.header{
    height: 80px;
    margin: 0 auto;
}

.section{
    width: 95%;
    height: 800px;
    margin: 0 auto;
}



/*************************************/

.small_input{
    width: 40px;
    text-align: center;
    /*color:rgb(5,15,80);*/
}

.widget-area{
    width: inherit;
    height: auto;

    margin-top: 10px;

}

.area-bg{
    background-image: url('../img/transparency.png');
}
.area-bg-transparency{
    background-image: url('../img/transparency.png');
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 24px;
}

.page-header{
    padding-bottom: 0;
}
.tab-content{
    padding-top: 10px;
    background-color: #ffffff;
}

.checked{
    outline: 2px solid #c12e2a;
}


.show-info{
    display: none;
    width:400px;
    padding: 5px;
    font-size: 14px;
    position: fixed;
    top:190px;
    left:50%;
    margin: 0 auto 0 -200px;
    z-index: 100;
    text-align: center;
}

.thumbnail{
    margin-bottom: 0px;
}



.fileupload{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    opacity: 0;
    filter:alpha(opacity=0);
    cursor: pointer;
}

.box{
    position: relative;
}
